.navbar {
    background-color: #F6C79F88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    height: 7rem;
}

.menu{
    align-content: center;
    margin-left: auto;
}

.cadastre-se{
    background-color: white;
    border: solid 0.3rem #F6C79F;
    border-radius: 3rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.cadastre-se:hover{
    background-color: #F6C79F88;
}

.entrar{
    background-color: #B08D8C;
    border: solid 0.3rem #B08D8C;
    border-radius: 3rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.entrar:hover{
    background-color: #F6C79F88;
    border: solid 0.3rem #F6C79F88;

}

.logo{
    margin-left: auto;
    position: absolute;
}

.logo img{
    height: 7rem;
}


@media (max-width: 1000px){
    .entrar{
        display: none;
    } 
    
    .cadastre-se{
        display: none;

    }
}